<div class="mx-auto" style="width: 200px;">
  <h1>Editing Ready State</h1>
</div>

<%= render 'form', ready_state: @ready_state %>

<%= link_to 'Show', @ready_state, class: "btn btn-warning" %>
<%= link_to 'Back', ready_states_path, class: "btn btn-danger" %>
