<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commercial_premises_kind.name %>
</p>

<%= link_to 'Edit', edit_commercial_premises_kind_path(@commercial_premises_kind), class: "btn btn-warning" %>
<%= link_to 'Back', commercial_premises_kinds_path, class: "btn btn-danger" %>
