<div class="mx-auto" style="width: 200px;">
  <h1>Flats</h1>
</div>

<table class="table table-striped table-bordered table-hover" style="width:100%" id="flats-datatable", data-source="<%= flats_path(format: :json) %>">
  <thead>
    <tr style="background-color: #C8EEFF;">
      <th>Renovation</th>
      <th>Rooms count</th>
      <th>Floor</th>
      <th>Celling height</th>
      <th>Total area</th>
      <th>Living area</th>
      <th>Kitchen area</th>
      <th>Year of construction</th>
      <th>Wall material</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  jQuery(document).ready(function() {
  $('#flats-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#flats-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "renovation_id"},
      {"data": "rooms_count"},
      {"data": "floor"},
      {"data": "celling_height"},
      {"data": "total_area"},
      {"data": "living_area"},
      {"data": "kitchen_area"},
      {"data": "year_of_construction"},
      {"data": "wall_material_id"},
      {"data": "actions"}
    ]
  });
});
</script>

<%= link_to 'New Flat', new_flat_path, class: "btn btn-outline-info" %>
