<p id="notice"><%= notice %></p>

<div class="mx-auto" style="width: 200px;">
  <h1>Country Side Houses</h1>
</div>

<table class="table table-striped table-bordered table-hover" style="width:100%" id="country_side_houses-datatable", data-source="<%= country_side_houses_path(format: :json) %>" >
  <thead>
    <tr style="background-color: #C8EEFF;">
      <th>Kind</th>
      <th>Ready state</th>
      <th>Floors count</th>
      <th>Land area</th>
      <th>Total area</th>
      <th>Year of construction</th>
      <th>Wall material</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  jQuery(document).ready(function() {
  $('#country_side_houses-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#country_side_houses-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "country_side_house_kind_id"},
      {"data": "ready_state_id"},
      {"data": "floors_count"},
      {"data": "land_area"},
      {"data": "total_area"},
      {"data": "year_of_construction"},
      {"data": "wall_material_id"},
      {"data": "actions"}
    ]
  });
});
</script>

<%= link_to 'New Country Side House', new_country_side_house_path, class: "btn btn-outline-info"  %>
