<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @client_profile.country_id %>
</p>

<%= link_to 'Edit', edit_client_profile_path(@client_profile) %> |
<%= link_to 'Back', client_profiles_path %>
