<div class="mx-auto" style="width: 200px;">
  <h1>New Property Type</h1>
</div>

<%= render 'form', property_type: @property_type %>

<%= link_to 'Back', property_types_path, class: "btn btn-danger" %>
