<div class="mx-auto" style="width: 400px;">
  <h1>Editing Wall Material</h1>
</div>

<%= render 'form', wall_material: @wall_material %>

<%= link_to 'Show', @wall_material, class: "btn btn-warning" %>
<%= link_to 'Back', wall_materials_path, class: "btn btn-danger" %>
