<div class="mx-auto" style="width: 400px;">
  <h1>New Wall Material</h1>
</div>
<%= render 'form', wall_material: @wall_material %>

<%= link_to 'Back', wall_materials_path, class: "btn btn-danger" %>
