<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wall_material.name %>
</p>

<%= link_to 'Edit', edit_wall_material_path(@wall_material), class: "btn btn-warning" %>
<%= link_to 'Back', wall_materials_path, class: "btn btn-danger" %>
