<body>
  <hr>
  <h1>Your report about <%= @report_message %> quantity</h1>
  <h4><%= @user.email %></h4>
  <h3>DID YOU ALREADY KNOW?</h3>
  <h2>In RSA: <%= @report_message %> quantity - <%= @report %>!</h2>
  <br>
  <hr>
</body>