<div class="mx-auto" style="width: 200px;">
  <h1>Editing Street</h1>
</div>

<%= render 'form', street: @street %>

<%= link_to 'Show', @street, class: "btn btn-warning"  %>
<%= link_to 'Back', streets_path, class: "btn btn-danger" %>
