<div class="mx-auto" style="width: 400px;">
  <h1>Editing Street</h1>
</div>

<%= render 'form', street: @street %>

<%= link_to 'Show', @street, class: "btn btn-warning"  %>
<%= link_to 'Back', city_district_path(id: @street.district.id), class: "btn btn-danger" %>
