<p id="notice"><%= notice %></p>

<div class="mx-auto" style="width: 200px;">
  <h1>Streets</h1>
</div>

<table class="table table-striped table-bordered table-hover" style="width:100%" id="streets-datatable", data-source="<%= streets_path(format: :json) %>">
  <thead>
    <tr style="background-color: #C8EEFF;">
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  jQuery(document).ready(function() {
  $('#streets-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#streets-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "name"},
      {"data": "actions"}
    ]
  });
});
</script>

<%= link_to 'New Street', new_street_path, class: "btn btn-outline-info"  %>
