<div class="mx-auto" style="width: 400px;">
  <h1>New Street</h1>
</div>
<%= render 'form', street: @street, district: @district %>

<%= link_to 'Back', city_district_path(id: @district.id), class: "btn btn-danger" %>
