<p style="text-align: center; font-size: 20px">
  <strong>Name:</strong>
  <%= @renovation.name %>
</p>

<%= link_to 'Edit', edit_renovation_path(@renovation), class: "btn btn-warning" %>
<%= link_to 'Back', renovations_path, class: "btn btn-danger" %>
