<div class="mx-auto" style="width: 400px;">
  <h1>Editing District</h1>
</div>

<%= render 'form', district: @district %>

<%= link_to 'Show', @district, class: "btn btn-warning" %>
<%= link_to 'Back', city_path(id: @district.city.id), class: "btn btn-danger" %>
