<div class="mx-auto" style="width: 400px;">
  <h1>New District</h1>
</div>

<%= render 'form', district: @district, city: @city %>

<%= link_to 'Back', city_path(id: @city.id), class: "btn btn-danger" %>
