<h1>Editing Country Side House Kind</h1>

<%= render 'form', country_side_house_kind: @country_side_house_kind %>

<%= link_to 'Show', @country_side_house_kind %> |
<%= link_to 'Back', country_side_house_kinds_path %>
