<div class="mx-auto" style="width: 200px;">
  <h1>Country Side House Kinds</h1>
</div>

<table class="table table-striped table-bordered table-hover" style="width:100%" id="country_side_house_kinds-datatable", data-source="<%= country_side_house_kinds_path(format: :json) %>">
  <thead>
    <tr style="background-color: #C8EEFF;">
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  jQuery(document).ready(function() {
  $('#country_side_house_kinds-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#country_side_house_kinds-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "name"},
      {"data": "actions"}
    ]
  });
});
</script>

<%= link_to 'New Country Side House Kind', new_country_side_house_kind_path, class: "btn btn-outline-info" %>
