<div class="mx-auto" style="width: 600px;">
  <h1>New Country Side House Kind</h1>
</div>

<%= render 'form', country_side_house_kind: @country_side_house_kind %>

<%= link_to 'Back', country_side_house_kinds_path, class: "btn btn-danger" %>
