<p style="text-align: center; font-size: 20px">
  <strong>Name:</strong>
  <%= @country_side_house_kind.name %>
</p>

<%= link_to 'Edit', edit_country_side_house_kind_path(@country_side_house_kind), class: "btn btn-warning" %>
<%= link_to 'Back', country_side_house_kinds_path, class: "btn btn-danger" %>
