<div class="mx-auto" style="width: 200px;">
  <h1>Editing Address</h1>
</div>

<%= render 'form', address: @address %>

<%= link_to 'Show', @address, class: "btn btn-warning" %>
<%= link_to 'Back', addresses_path, class: "btn btn-danger"  %>
