<h1>Roles</h1>

<table class="table table-striped table-bordered table-hover" style="width:100%" id="roles-datatable", data-source="<%= roles_path(format: :json) %>">
  <thead>
    <tr style="background-color: #C8EEFF;">
      <th>Name</th>
      <th>Can read lot</th>
      <th>Can edit lot</th>
      <th>Can asign</th>
      <th>Can read dictionary</th>
      <th>Can edit dictionary</th>
      <th>Can give permission</th>
      <th>Can work with all property types</th>
      <th>Can create role</th>
      <th>Can approve realtor</th>
      <th>Can freeze user</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  jQuery(document).ready(function() {
  $('#roles-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#roles-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "name"},
      {"data": "can_read_lot"},
      {"data": "can_edit_lot"},
      {"data": "can_asign"},
      {"data": "can_read_dictionary"},
      {"data": "can_edit_dictionary"},
      {"data": "can_give_permission"},
      {"data": "can_work_with_all_property_types"},
      {"data": "can_create_role"},
      {"data": "can_approve_realtor"},
      {"data": "can_freeze_user"},
      {"data": "actions"}
    ]
  });
});
</script>

<%= link_to 'New Role', new_role_path %>
