<div class="mx-auto" style="width: 500px;">
  <h1>Commercial Premises</h1>
</div>

<table class="table table-striped table-bordered table-hover" style="width:100%" id="commercial_premises-datatable", data-source="<%= commercial_premises_path(format: :json) %>" >
  <thead>
    <tr style="background-color: #C8EEFF;">
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Deal type</th>
      <th>City</th>
      <th>District</th>
      <th>Street</th>
      <th>Building</th>
      <th>Address description</th>
      <th>Kind</th>
      <th>Area</th>
      <th>Floor</th>
      <th>Number of premises</th>
      <th>Plot of land</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script>
  jQuery(document).ready(function() {
  $('#commercial_premises-datatable').dataTable({
    "processing": true,
    "serverSide": true,
    "ajax": {
      "url": $('#commercial_premises-datatable').data('source')
    },
    "pagingType": "full_numbers",
    "columns": [
      {"data": "title"},
      {"data": "description"},
      {"data": "price"},
      {"data": "deal_type"},
      {"data": "city"},
      {"data": "district"},
      {"data": "street"},
      {"data": "building"},
      {"data": "address_description"},
      {"data": "commercial_premises_kind_id"},
      {"data": "area"},
      {"data": "floor"},
      {"data": "number_of_premises"},
      {"data": "plot_of_land"},
      {"data": "actions"}
    ]
  });
});
</script>

<%= link_to 'New Commercial Premise', new_commercial_premise_path, class: "btn btn-outline-info" %>
