<div class="mx-auto" style="width: 600px;">
  <h1>New Commercial Premise</h1>
</div>

<%= render 'form', commercial_premise: @commercial_premise %>

<%= link_to 'Back', commercial_premises_path, class: "btn btn-danger" %>
