<p style="text-align: center; font-size: 20px">
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p style="text-align: center; font-size: 20px">
  <strong>Phone code:</strong>
  <%= @country.phone_code %>
</p>

<%= link_to 'Edit', edit_country_path(@country), class: "btn btn-warning" %>
<%= link_to 'Back', countries_path, class: "btn btn-danger" %>
