<div class="mx-auto" style="width: 300px;">
  <h1>Editing Deal Type</h1>
</div>

<%= render 'form', deal_type: @deal_type %>

<%= link_to 'Show', @deal_type, class: "btn btn-warning" %>
<%= link_to 'Back', deal_types_path, class: "btn btn-danger" %>
