// Place all the styles related to the AdminPanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.report_item {
    background-color: #C8ECFF;
    text-align: center;
    color: #114F70;
}

.menu_item {
    color: #45545C;
    text-decoration: none;
}