  .title {
      text-align: center;
  }
  
  .container {
      width: 480px;
  }
  
  .profile_choice {
      text-align: center;
  }
  
  .client_choice {
      margin-right: 2px;
  }
  
  .realtor_choice {
      margin-left: 2px;
  }
  
  .links {
      text-align: center;
      font-size: 1.1rem
  }
  
  .remember_checkbox {
      text-align: center;
  }
  
  .avatar_picture {
      text-align: center;
  }
  
  .cancel_account {
      text-align: center;
  }